@tailwind base;
@tailwind components;
@tailwind utilities;
body {
  background-color: black;
}
.header-left {
  @apply flex
    flex-col;
  position: fixed !important;
  width: 10%;
  height: 100vh;
  background-color: #27272a;
}
.img-sidebar {
  @apply w-[149px]
   h-[160px];
}
.icons {
  @apply flex
    flex-col
    p-5;
}
.icon-text {
  @apply text-white
    font-serif;
}
.icon-item {
  @apply align-middle mb-5 ml-3;
  color: #f8fafc;
}
.icons-home {
  @apply flex
    flex-col
    p-5;
  background-color: black;
}
.icons-home:hover {
  @apply bg-slate-200;
  color: black;
}
.icons:hover {
  @apply bg-slate-950;
}
/* section1 */
.container-name {
  @apply flex justify-center flex-col;
  /* margin-left: 200px; */
  width: 50%;
  margin: auto;
}

.text-name {
  @apply flex 
    justify-center
    font-serif
    text-white
    mt-0;
  font-size: 60px;
}
.major {
  @apply flex
    justify-center
    font-serif
    text-white;

  font-size: 15px;
}
.img-name {
  /* padding-top:30px; */
}
/* end section 1 */
/* section3 */
.container-text {
  @apply flex flex-col;
  /* margin-left: 300px; */
  width: 50%;
  margin: auto;
  padding-bottom: 30px;
  margin-bottom: 30px;
}
.name {
  color: white;
  font-size: 30px;
  line-height: 80px;
  border-bottom: 1px solid #d4d4d4;
  width: 20%;
  @apply flex;
}
.name-paragragh {
  color: #a3a3a3;
  /* margin-top: 100px; */
  /* line-height: 15px; */
  padding-top: 30px;
  padding-bottom: 50px;
}

.skill-tittle {
  color: white;
  font-size: 30px;
  margin-top: 20px;
  margin-bottom: 38px;
  width: 20%;
  @apply flex;
}
.skill-item-text {
  color: #a3a3a3;
  font-size: 22px;
  margin-top: 10px;
}
.progress {
  width: 100%;
  height: 25px;
  margin-top: 10px;
  @apply bg-white;
}
.progress-color {
  background-color: #737373;
  width: 95%;
  height: 25px;
}
.progress-color-web {
  background-color: #737373;
  width: 85%;
  height: 25px;
}
.progress-color-shop {
  background-color: #737373;
  width: 80%;
  height: 25px;
}
.amar {
  @apply flex flex-row justify-around;
  width: 100%;
  height: 130px;
  background-color: #fff;
  margin-top: 30px;
  align-items: center;
}
.amar::before {
  /* width: 90%; */
  /* height: 50px; */
  /* background-color: #fff; */
  /* display: table; */
}
.amar-item {
  /* width: 20px; */
  display: flex;
  color: black;
  flex-direction: column;
  line-height: 13px;
  /* text-align: center; */
}
.amar-number {
  font-size: 20px;
  margin-left: 15px;
}
.amar-span {
  color: #737373;
  font-size: 20px;
}
.amar-button {
  @apply flex flex-row;
  background-color: #fff;
  margin-top: 20px;
  width: 25%;
  height: 35px;
  /* margin-left: 30px; */
  align-items: center;
}
.amar-icon {
  /* align-items: center; */
  /* justify-content: center; */
  /* margin-top: 8px; */
  margin-left: 30px;
}
.text-btn {
  color: #737373;
  text-align: center;
  /* padding-left: 3px; */
  /* margin-left: 10px; */
}

/* end of section */

/* basic */
.container-price {
  @apply flex flex-col;
  width: 50%;
  margin: auto;
  margin-bottom: 30px;
}
.price-tittle {
  color: white;
  font-size: 30px;
  /* margin-top: 20px; */
  /* margin-bottom: 38px; */
  @apply flex;
}
.price-basic {
  @apply flex flex-col;
  width: 49%;
}
.basic-header {
  color: #a3a3a3;
  font-size: 25px;
  background-color: #737373;
  text-align: center;
  padding: 25px;
}
.basic-items {
  @apply text-slate-900;
  background-color: #fff;
  font-size: 15px;
  text-align: center;
  border-bottom: 1px solid #d4d4d4;
  padding: 10px;
}
.basic-month {
  @apply text-slate-900 flex flex-col;
  background-color: #fff;
  font-size: 15px;
  text-align: center;
  border-bottom: 1px solid #d4d4d4;
  padding: 15px;
}
.month-header {
  font-size: 25px;
}
.per-month {
  color: #a3a3a3;
}
.basic-btn {
  @apply flex justify-center;
  background-color: #d4d4d4;
  padding: 20px;
}
.btn-sign {
  width: 25%;
  color: black;
  background-color: #fff;
  padding: 2px;
}
.price-table {
  @apply flex flex-row;
}
.price-pro {
  @apply flex flex-col;
  width: 50%;
  margin-left: 30px;
}
/* end basic */
/* profile */
.container-profile {
  @apply flex flex-col;
  width: 50%;
  margin: auto;
  margin-bottom: 30px;
}
.profile-img {
  @apply flex rounded-full;
  width: 6%;
}
.profile-text {
  color: #737373;
}
.profile-bandmember {
  @apply flex flex-row;
  margin-top: 20px;
}
.pro-text {
  @apply flex flex-col;
  margin-left: 15px;
}
.profile-text2 {
  margin-left: 30px;
}
/* end profile */
/* ax */
.container-ax {
  @apply flex flex-col;
  width: 50%;
  margin: auto;
}
.ax-header {
  color: white;
  font-size: 30px;
  border-bottom:1px solid #a3a3a3;
  width: 20%;
  /* line-height: 30px; */
  @apply flex;
}
.ax-body{
  @apply flex flex-row;
  width: 100%;
  /* margin: auto */
}
.img-part1{
  @apply flex flex-col;
  /* width:60%; */
  /* margin: auto; */
  /* margin-right: 0px; */
}
.img-part2{
  @apply flex flex-col;
  /* width: 40%; */
  /* margin: auto; */
}
.wed-img{
  width: 50%;
  height: 40%;
}
.rock-img{
  width: 50%;
  height: 85%;
}
.sail-img{
  width: 50%;
  height:45%;
}
.under-img{
  width: 80%;
  height: 80%;
}
/* end ax */
